<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% extends "layout.html" %}

    {% block content %}

    <div class="page-header">
        <h1>Welcome to Twitter.js!</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg"
                style="height: 50px;width: 50px;"><br>
            <b>Your Name</b><br>
            100 followers

        </div>
        <div class="col-md-9">


            <!-- display tweets here -->

            {% for tweet in tweets %}
            <div class="row fila-for">
                <div class="col-md-2">
                    <img id="profile-pic"
                        src="https://cdn2.dineroenimagen.com/media/dinero/styles/gallerie/public/images/2019/01/2084092.jpg">
                </div>
                <div class="col-md-10">
                    <span id="nombre"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></span>
                    <span id="contenido"><a href="/tweets/{{tweet.id}}">{{tweet.content}}</a></span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% if showForm %}
    <form action="/tweets" method="POST">
        <label for="name_field">Name:</label>
        <input name="name" type="text" id="name_field" />
        <label for="text_field">Text:</label>
        <input name="text" type="text" id="text_field" style="width: 350px;" />
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
    {% endblock %}
</body>

</html>